*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.header{
    border-bottom: 1.5px solid #ccc;
}
.header p{
    text-transform: uppercase;
    font-size: 24px;
    color: rgb(41, 38, 38);
}
.header span{
    font-size: 30px;
}
.header ul{
    background-color: #E2494C;
    border-radius: 10px;
}
.header ul li{
    list-style: none;
}
.header ul li a{
    display: inline-block;
    padding: 14px;
    color:#fff;
    text-transform: uppercase;  
    font-family: serif;
    font-weight: 580;
}
.header a:hover{
    color: #ccc;
}
/* End header */

/* Banner */

.slogan{
    font-family: serif;
    font-weight: 550;
    font-size: 16px;
    color: rgb(41, 38, 38);
}
.banner{
    border-bottom: 1px solid #ccc;
}

/* Services */
.services, .players, .lorem  {
    border-top: 1px solid #ccc;
}
.component{
    position: relative; 
}
.title{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E2494C;
    color:#fff;
    padding: 5px;
    text-transform: uppercase;
    font-family: serif;
    border-radius: 10px;
}
.services .service-item .sub{
    font-size: 18px;
    font-weight: 550;
}
/* Players */
.players img{
    width: 85%;
}
/* Footer */

.container-fluid{
    background-color: #ccc;
    /* min-height: 100px; */
}
.thumb img{
    width: 100%;
}
.detail p, .contact p,  .hour p{
    margin-bottom: 0;
}
input{
margin-top: 15px;
}